$primary:#59359a;

@import './node_modules/bootstrap/scss/bootstrap.scss';

label.error {
    color: red;
}

header {
    background-color: $primary;
    height: 150px;

    h1 {
        font-size: 2rem;
        color: #fff;
    }
}

#accordion {
    display: none;
}

#message {
    display: none;
}
.succes-score{
    background-color:#13E184 !important;
}