$primary:#59359a;

@import './node_modules/bootstrap/scss/bootstrap.scss';

label.error {
    color: red;
}

header {
    background-color: $primary;
    height: 150px;

    h1 {
        font-size: 2rem;
        color: #fff;
    }
}

form{
    padding:20px;
    border:1px solid rgba(0,0,0,.125);
    border-radius:10px;
    legend{
        font-weight:bold;
        font-size:1.3rem;
        text-align:center;
    }
}

#accordion {
    display: none;
}
.collapse{
    border:1px solid rgba(0,0,0,.125);
}

.active{
    color:#ffffff !important;
}
#message {
    display: none;
}
.succes-score{
    background-color:#d4edda !important;
}
.bon-score{
    background-color:#fff3cd !important;
}
.echec-score{
    background-color:#f8d7da !important;
}
.alert{
    display:none;
}

#donnees{
    display:none;
  }