$primary:#59359a;

@import './node_modules/bootstrap/scss/bootstrap.scss';

label.error{
    color:red;
}

.accordion{
    /* display:none; */
}
header{
    background-color:$primary;
    height:150px;
    h1{
        font-size:2rem;
        color:#fff;
    }
}